<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plantshome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlantsHome">
        <activity
            android:name=".Activity_Main"
            android:label="@string/title_activity__main"
            android:theme="@style/Theme.PlantsHome.NoActionBar" />
        <activity android:name=".Activity_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_GetStarted" android:parentActivityName=".Activity_Splash" />
        <activity android:name=".Activity_Login" android:parentActivityName=".Activity_GetStarted" />
        <activity android:name=".Activity_Choices" android:parentActivityName=".Activity_Login" />
        <activity android:name=".Activity_NavigatePlants" android:parentActivityName=".Activity_Choices" />
        <activity android:name=".Activity_Detail" android:parentActivityName=".Activity_Main"/>
        <activity android:name=".Activity_Thanks"  android:parentActivityName=".Activity_Main"/>
        <activity android:name=".Activity_Signup" android:parentActivityName=".Activity_Login"/>
        <activity android:name=".Activity_VerifyEmail" android:parentActivityName=".Activity_Login"/>
        <activity android:name=".ResetPassword"/>
        <activity android:name=".Activity_Profile" android:parentActivityName=".Activity_Main"/>
    </application>

</manifest>